# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore yarn lockfile
yarn.lock

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore development and test-related files
*.spec.js
*.test.js
coverage/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore version control files
.git/
.gitignore

